* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #6610f2;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2,
p {
  color: #6f42c1;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #e21e80;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #6f42c1, #6f42c1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}
.rightpad {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.leftpad {
  flex: 2;
}
.rounded-image {
  border-radius: 1rem; /* Adds round edges */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4); /* Adds a shadow */
  max-width: 100%;
  height: auto;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-gradient {
  background-image: linear-gradient(45deg, #6610f2, #e21e80);
  -webkit-background-clip: text; /* For webkit-based browsers (Safari, Chrome) */
  color: transparent;
}
