<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kmeans Result</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/glass.css">
    <style>
        .bg-gradient-primary-to-secondary {
            background: #7a7cff; 
        background: linear-gradient(135deg, #7a7cff 0%, #ff7ac6 100%); 
        }
    </style>

</head>
<body>
    <main>
        
        <section class="glass">
            <div class="leftpad">
                <h1 class="text-gradient">K-Means Result</h1>
                
                <div class="image-container">
                    <img src="/static/img/kimage.png" alt="cluster Plot" class="rounded-image">
                </div>
            </div>
        
            <div class="rightpad">
                <!-- Your explanation points about the graph go here -->
                <p>Explanation point 1</p>
                <p>Explanation point 2</p>
                <p>Explanation point 3</p>
            </div>
        </section>
    </main>
    <div class="circle1 bg-gradient-primary-to-secondary"></div>
    <div class="circle2 bg-gradient-primary-to-secondary"></div>

</body>
</html>

